{% extends 'common.html' %}
{% load i18n %}

{% block title %} Verify Email {% endblock %}


{% block content %}
    <section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Verify our Email Address</h2>
                            <p><a href="#">account</a> | Verify Email</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <center style="margin-top: 100px;margin-bottom: 100px">
    <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
    </center>
{% endblock %}
